* {
  padding: 0;
  margin: 0;
}

body {
  margin: 40px;
  background-color: #c6c8ca;
  color: #12100e;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.2;
}

.container h2 {
  font-size: 30px;
  color: #240b36;
}

.container p {
  font-size: 15px;
}

.container h3 {
  font-size: 18px;
  color: #240b36;
}

a,
a:visited {
  color: #240b36;
  line-height: 1.7;
  font-size: 17px;
}
