/* General Style */
body {
  background: #333333;
  margin: 30px 30px;
  min-height: 100vh;
}

/* Menu style */
.select-page {
  --color: #00a97f;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.select-page::after,
.select-page::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.select-page::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.select-page:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.select-page:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.select-page:hover {
  color: var(--color2);
}

.select-page:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.select-page a {
  color: gainsboro;
  text-decoration: none;
}

/* Rules style */
.game-rules {
  padding: 30px 30px;
  width: 75%;
  height: 75%;
  border: none;
  border-radius: 15px;
  background: gainsboro;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin: 30px 30px;
  display: column;
  text-align: justify;
  line-height: 2;
}

.game-rules h2 {
  color: black;
  text-decoration: none;
  font-family: "Roboto", "Segoe UI", sans-serif;
  font-weight: lighter;
}

.game-rules p {
  color: black;
  text-decoration: none;
  font-family: "Roboto", "Segoe UI", sans-serif;
  font-weight: lighter;
}

/* Timer style */
.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
  margin: 60px 30px;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}

/* Memory style */
.tiles {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 16px;
  box-sizing: border-box;
}

.tile {
  height: 100px;
  background: #111111;
  border: 5px solid #444444;
  cursor: pointer;
}
