* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
  background-color: rgb(37, 36, 42);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sixth {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
}

.sixth h3 {
  text-align: center;
  font-size: 22px;
}

.sixth p {
  font-size: 18px;
  text-align: justify;
}

.sixth-answer label {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sixth-answer input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: 200px;
}

.sixth-answer input[type="button"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
  height: 30px;
  width: 150px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
}

.seventh {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
}

.seventh h3 {
  text-align: center;
  font-size: 22px;
}

.seventh p {
  font-size: 18px;
  text-align: justify;
}

.seventh-answer label {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.seventh-answer input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: 200px;
}

.seventh-answer input[type="button"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
  height: 30px;
  width: 150px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
}

.eighth {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
}

.eighth h3 {
  text-align: center;
  font-size: 22px;
}

.eighth p {
  font-size: 18px;
  text-align: justify;
}

.eighth-answer label {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.eighth-answer input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: 200px;
}

.eighth-answer input[type="button"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
  height: 30px;
  width: 150px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
}

.ninth {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
}

.ninth h3 {
  text-align: center;
  font-size: 22px;
}

.ninth p {
  font-size: 18px;
  text-align: justify;
}

.ninth-answer label {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ninth-answer input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: 200px;
}

.ninth-answer input[type="button"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
  height: 30px;
  width: 150px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
}

.tenth {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
}

.tenth h3 {
  text-align: center;
  font-size: 22px;
}

.tenth p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 30px;
}

.tenth table {
  width: 40%;
  border-collapse: collapse;
  margin: 0 auto;
  border: solid 1px #eee;
}

.tenth tr {
  border: solid 1px #eee;
}

.tenth tr,
td {
  padding: 10px;
  text-align: center;
}

.tenth-answer label {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tenth-answer input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: 200px;
}

.tenth-answer input[type="button"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
  height: 30px;
  width: 150px;
  background-color: rgb(37, 36, 42);
  color: white;
  border: none;
  border-radius: 20px;
}

.back-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.back-container a,
a:visited {
  font-size: 20px;
  text-decoration: none;
  line-height: 2.2;
  text-align: center;
  color: aliceblue;
}
